.btn-style{
    background-color: $secondaryColor;
    border-style: none;
    color: $cream;
    border-radius: 5px;
    padding: 22px 12px;
    margin-top: 3em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: $cream;
        color: $secondaryColor;
        border: solid 1px $cream; 
        font-weight: 500;  
    }
}

.btnSend {
    width: 12.5em;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;

}


