#headerIndex {
    background-image: $imgHeaderIndex;
}
#headerAboutUs {
    background-image: $imgHeaderAboutUs;
}
#headerMeet {
    background-image: $imgHeaderMeet;
}
#headerServices {
    background-image: $imgHeaderServices;
}
.headerImg {
    background-size: cover;
    height: 100vh;
}

.imgBorders {
    border-radius: 15%;
}

.imgSize {
    width: auto;
    height: 80vh;
}

.imgRound {
    border-radius: 100%;
    height: 25vh;
}

#menuServices {
    margin: 7em 0 7em 0;
    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        figcaption {
            font-size: 35px;
            padding: 15px;
            color: $secondaryColor;
            font-family: $bodyText;
            font-weight: 500;
        }
    }
}

#figure1:hover {
    transform: scale(1.2);
}

#figure2:hover {
    transform: scale(1.2);
}

#figure3:hover {
    transform: scale(1.2);
}
