//Color
$mainColor: #025258;
$secondaryColor:#F29325;
$accentColor: #D04F04;
$cream: #F4E2DE;

//Typography
$titleFont: Shrikhand,sans-serif;
$bodyText: "Roboto",sans-serif;
$titleSize: 96px;

//Images
$ImgHeaderIndex:url(../img/headers/header_index.png);
$ImgHeaderAboutUs: url(../img/headers/header_about_us.png);
$ImgHeaderMeet: url(../img/headers/header_meet_the_island.png);
$ImgHeaderServices: url(../img/headers/header_services.png);

//Breakpoints
$breakpoint-mobile: 576px;
